html, body{
     overflow: hidden; 
    
  }

/* main */
body{
    position: fixed;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    /* background-color:#32221b ; */
}
.warrp{
    position: fixed;
    display: block;
    width: 100%;
    height: 100vh;
    background-color: floralwhite;
}
.main-canvas{
    display: flex;
    border:  1px solid;
    background-color: white;
    margin: 4%;
    height: 50%;
    position: relative;
    top: 15%;
   

}
/* .temp{
    position: relative;
    top: 15%;
    left: 0;
    width: 100%;
    height: 100%;
} */
#canvas-area{
    touch-action: none;
    user-select: none;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 99999;
    border:  1px solid;
}

.print-area{
    display: flex;
    touch-action: none;
    user-select: none;
    z-index: 100;
}

#clearfloat{
    clear: both;
}


/* nav */
.buttom-btn-nav{
    height: 90px;
    position: fixed;
    display: block;
    background: #ffffff;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.buttom-btn-nav ul{
    
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}
.buttom-btn-nav ul li{
    flex: 1;
}
#navName {
    font-size: 12px;
    line-height: 1.2;

}
.buttom-btn-nav ul li label {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 70px;
    color: #f0f0f0;    
    background-color: #754c24;
    margin: 1px;
    text-shadow:1px 1px 0 #32221b, -1px -1px 0 #32221b,
    -1px 1px 0 #32221b, 1px -1px 0 #32221b,
    0px 1px 0 #32221b,  0-1px 0 #32221b,
    -1px 0 0 #32221b, 1px 0 0 #32221b;
}

.buttom-btn-nav ul li label svg {
    font-size: 40px;
}

.fileinput{
    display: none;
}
button{
    display: none;
}
