img{
    max-width: 100%;
    width: auto;
    height: auto;
}

#clearfloat{
    clear: both;
}

/* nav */
.buttonNav{
    position: fixed;
    left: 0;
    bottom: 0;
    background: white;
    width: 100%;
    text-align: center;
}

.fileinput{
    display: none;
  }
button{
    display: none;
}

.buttonNav li {
    display: table;
    table-layout: fixed;
    width: 100px;
    padding: 5px;
    list-style: none;
    text-align: center;
    float: left;
  
}
#navName{
    display: block;
    font-size: 4px;
}