html, body{
    overflow: hidden; 
   
 } 

/* main */
body{

}

.print-area{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: auto;
}


/* nav
.buttom-btn-nav{
    display: none;
}
.buttom-btn-nav ul{
    display: none;
}
.buttom-btn-nav ul li{
   display: none;
}
.buttom-btn-nav ul li label {
    display: none;
}
.fileinput{
   display: none;
}
button{
   display: none;
} */
.print-off{
    display: none;
}
