.print-off{
    display: none;
}

ul li{
    display: none;
}

#getImgTag{
    display: inline;
    height: 70vh;
}

.warrp{
    display: none;
}
#canvas-area{
    display: none;
}
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}
.printwarp{
    width: 100%;
    height: 100vh;
}
.print-area{
    margin: 4%;
}